{% extends 'core/base.html' %}

{% block 'content' %}
<h1 class="ls-title-intro ls-ico-home">Página inicial</h1>
<p>Com o constante aumento do número de pesquisas na área de biologia surge a necessidade de analisar essas informações contidas em bases dados. Sendo assim a união entre biologia e informática mostra-se importante para a realização dessa tarefa. Tratando especificamente de ligações protéicas a ligação entre ambas as áreas se mostra pertinente, tendo em vista que podem contribuir na avaliação e identificação do grupo de proteínas que, quando mutadas em conjunto, venham a desencadear doenças, chamadas de vias de ativação de doenças.</p>

<p>Para realizar essa tarefa em nível computacional deve-se recorrer as mais atuais tecnologias disponíveis, sendo uma boa escolha de linguagem de programação o Python e como sede para essa aplicação uma base na cloud-computing que possui como características escabilidade sob demanda, redução de custos, confiabilidade, segurança e desempenho.</p>
<p>Confira nossa <a href="#">documentação com os componentes</a> que você usar aqui.</p>
            <hr>
            <h6 class="ls-title-5">English disclaimer</h6>
            <p>With the increasing number of biological researches there is also an increasing need in analysing the information obtained and stored in databases. Therefore, this union between the biology area and the computation area is very important to this task. When refering to proteic bonds, this relation between computing and biology can further contribute in identifying and evaluating proteic groups, that when mutated can activate disease pathways.</p>
            <p>To acheive this in a computational way, we must use the latest technologies available, with Python being one of the best choices for developing an application that runs on cloud-computing and which can scale under demand and provide reduced costs, reliability, security and good performance.</p>
            <p>Check out the docs to <a href="#">see the components that you can use</a>.</p>
{% endblock %}
