<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Pitágoras</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}core/css/style.css" type="text/css">
    </head>
    <body style="padding: 0;">
        <canvas id="viewport" width="800" height="600"></canvas>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}/core/js/arbor.js"></script>
        <script src="{{ STATIC_URL }}/core/js/arbor-tween.js"></script>
        <script src="{{ STATIC_URL }}/core/js/arbor-graphics.js"></script>
        <script src="{{ STATIC_URL }}/core/js/main.js"></script>
    </body>
</html>
